html, body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.graph-figure {
    min-height: none;
    height: 100%;
    min-width: none;
    width: 100%;
}

#compare-checklist {
    padding: 4px 12px;
    margin: 0px;
    cursor: pointer;
    font-size: 2vh;
} 

#category-radio {
    display: flex;
    flex-wrap: wrap;
}

#category-radio label,
#level-radio label {
    display: inline-block;
    flex: auto;
    margin: 0px 6px 6px 0px;
    padding: 4px 12px;
    user-select: none;
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 2vh;
    transition: background-color 0.3s, border-color 0.3s;
}

#level-radio label:hover,
#category-radio label:hover {
    background-color: #d9eaff;
    border-color: #66a3ff;
}

#primary-dropdown,
#secondary-dropdown {
    margin-bottom: 6px;
    border: 1px solid #888;
    cursor: pointer;
    font-size: 2vh;
}

#secondary-dropdown {
    margin-bottom: 6px;
    border: 1px solid #888;
    cursor: pointer;
    font-size: 2vh;
}

/* Layout ----------------------------------------------------------------------------------------------------------- */
#layout {
    display: grid;
    grid-template-columns: 0vw 28vw 34vw 28vw 0vw;
    grid-template-rows: 6vh 42vh 42vh 4vh;
    gap: 2vh 2.5vw;
    grid-auto-flow: column;
    grid-template-areas:
        'header header header header header'
        '. fig-map fig-hist display-panel .'
        '. fig-map fig-line price-table .'
        'footer footer footer footer footer';
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    height: 100vh;

}

/* Figures ------------------------------------------------------------------------------------------------------ */
#fig-map {
    grid-area: fig-map;
}
#fig-hist {
    grid-area: fig-hist;
}
#fig-line {
    grid-area: fig-line;
}

/* Column 3 --------------------------------------------------------------------------------------------------------- */
#display-panel {
    grid-area: display-panel;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'location-controls'
        'category-details';
}

#location-config {
    grid-area: location-config;
    display:flex;
    justify-content: space-between;
}

#category-details {
    grid-area: category-details;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'category-controls category-controls'
        'category-info-left category-info-right';
    margin-bottom: 16px;
}

#price-table {
    grid-area: price-table;
}

/* Header ----------------------------------------------------------------------------------------------------------- */
#header {
    background-color: rgb(2, 43, 80);
    display: grid;
    grid-area: header;
    
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color: white;
}

/* Footer ----------------------------------------------------------------------------------------------------------- */
#footer {
    background-color: rgb(2, 43, 80);
    display: grid;
    grid-area: footer;
    
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    color: white;
    
}

